---
import "../assets/css/main.css";
import STRGF_ThemeButton from "../components/app/STRGF_ThemeButton.vue";
import STRGF_Title from "../components/app/STRGF_Title.vue";
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Storagefy | Frontend Storage Adapter</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Fira+Code:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Meta tags -->
    <meta
      name="description"
      content="Frontend storage adapter with framework integrations for IndexedDB, LocalStorage, and SessionStorage as well stores like Pinia, Svelte and React"
    />
    <meta property="og:title" content="Storagefy" />
    <meta
      property="og:description"
      content="Cross-framework storage solution for modern web applications"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://arthurgermano.github.com/storagefy"
    />

    <script is:inline>
      (() => {
        try {
          const raw = localStorage.getItem("storagefy__Storagefy_App");
          const parsed = JSON.parse(raw || "{}");
          const mode = parsed?.mode;

          // Delay to ensure body is available
          requestAnimationFrame(() => {
            if (!document.body) return;

            if (mode === "dark") {
              document.body.classList.add("dark");
            } else {
              document.body.classList.remove("dark");
            }
          });
        } catch (err) {
          console.error("Failed to load theme mode from storage:", err);
        }
      })();
    </script>
  </head>

  <body class="">
    <header class="strf-header">
      <span></span>
      <a href="/" class="strf-logo" style="margin-left: -1rem">
        <svg
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 2C17 2 21 3.79 21 6V18C21 20.21 17 22 12 22C7 22 3 20.21 3 18V6C3 3.79 7 2 12 2Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M21 6C21 8.21 17 10 12 10C7 10 3 8.21 3 6"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M21 12C21 14.21 17 16 12 16C7 16 3 14.21 3 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <STRGF_Title client:visible />
      </a>

      <div style="min-width: 3rem">
        <STRGF_ThemeButton client:visible client:only />
      </div>
    </header>

    <main class="strf-layout">
      <aside class="strf-sidebar" id="sidebar">
        <nav>
          <ul class="strf-nav-group">
            <li><a href="/storagefy/">Getting Started</a></li>
            <li><a href="/storagefy/exports-usage">Exports Usage</a></li>
            <li class="strf-nav-section">Storage</li>
            <ul>
              <li>
                <a href="/storagefy/storage/local-storage">Local Storage Adapter</a>
              </li>
              <li>
                <a href="/storagefy/storage/session-storage">Session Storage Adapter</a>
              </li>
              <li><a href="/storagefy/storage/indexeddb">Indexed DB Adapter</a></li>
            </ul>
            <li class="strf-nav-section">Store</li>
            <ul>
              <li><a href="/storagefy/store/react-store">React Store Adapter</a></li>
              <li><a href="/storagefy/store/svelte-store">Svelte Store Adapter</a></li>
              <li><a href="/storagefy/store/vue-store">Vue Store Adapter</a></li>
            </ul>
            <li>
              <a
                href="https://github.com/arthurgermano/storagefy"
                target="_blank"
              >
                GitHub
              </a>
            </li>
            <li>
              <a href="https://npmjs.com/package/storagefy" target="_blank">
                NPM
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <section class="strf-main-content">
        <button id="menuToggle" class="strf-mobile-toggle">☰</button>
        <slot />
      </section>
    </main>

    <footer class="strf-footer">
      <div>
        Developed by
        <br />
        <a href="https://www.linkedin.com/in/arthurjgermano" target="_blank">
          Arthur José Germano
        </a>
      </div>
      <div>MIT License – © {currentYear}</div>
    </footer>
  </body>
</html>
